@model PennyWyse.Models.Event

@{
    ViewData["Title"] = "Create";
    string searchId = Context.Request.Query["searchId"].ToString();
}

<h1>Create New Event</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model." class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Please Enter Name for Event" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" placeholder="Please Enter Exact or Estimated Price for Event"/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartDate" class="control-label"></label>
                <input asp-for="@Model.StartDate" class="form-control" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" placeholder="Please Include a Description for Event"/>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InfoURL" class="control-label"></label>
                <input asp-for="@Model.InfoURL" class="form-control" placeholder="Enter a URL for any external information" />
                <span asp-validation-for="@Model.InfoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageURL" class="control-label"></label>
                <input asp-for="@Model.ImageURL" class="form-control" placeholder="Enter a URL for an Event Image" />
                <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.City" class="control-label"></label>
                <input asp-for="@Model.City" class="form-control" placeholder="Enter City for Event" />
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.State" class="control-label"></label>
                <input asp-for="@Model.State" class="form-control" placeholder="Enter State for Event" />
                <span asp-validation-for="@Model.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EventType" class="control-label"></label>
                <input asp-for="@Model.EventType" class="form-control" />
                <span asp-validation-for="@Model.EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="@Model.CreatorId" class="control-label"></label>*@
                <input type="hidden"asp-for="@Model.CreatorId" class="form-control"  />
                <span asp-validation-for="@Model.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-route-searchId="@searchId" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-searchId="@searchId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
