@model PennyWyse.Models.UserEvent

@{
    ViewData["Title"] = "Details";
    string searchId = Context.Request.Query["searchId"].ToString();
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.InfoURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.InfoURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.UserEventId" asp-route-searchId="@searchId">Edit</a> |
<a asp-action="Index" asp-route-searchId="@searchId">Back to List</a>
</div>
