@model IEnumerable<PennyWyse.Models.UserEvent>


@{
    ViewData["Title"] = "Index";
    string searchId = Context.Request.Query["searchId"].ToString();
}




<p>
    <a asp-controller="Events" asp-action="Create">Create New</a>
</p>
<table class="table">
    <!-- Page Heading -->
    <h1 class="my-4">
        <small>Saved events</small>
    </h1>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!-- Page Content -->
                <div class="container">
                    <!-- Project One -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href=" @Html.DisplayFor(modelItem => item.Event.InfoURL)">
                                <img class="img-fluid rounded mb-3 mb-md-0" src=@Html.DisplayFor(modelItem => item.Event.ImageURL) alt="">
                            </a>

                        </div>
                        <div class="col-md-5">
                            <h3> @Html.DisplayFor(modelItem => item.Event.Name)</h3>
                            <h4> $ @Html.DisplayFor(modelItem => item.Event.Price)</h4>
                            <p> @Html.DisplayFor(modelItem => item.Event.Description)</p>
                            <a class="btn btn-primary" href=@Html.DisplayFor(modelItem => item.Event.InfoURL)>View Event</a>
                            
                            @*@if (@PennyWyse.Models.User)*@
                            @*Add some a check for who can and can't edit*@
                            <a asp-action="Edit" asp-route-searchId="@searchId" asp-route-id="@item.UserEventId">Edit</a> |

                            <a asp-action="Details" asp-route-searchId="@searchId"  asp-route-id="@item.UserEventId">Details</a> |
                            <a asp-action="Delete" asp-route-searchId="@searchId" asp-route-id="@item.UserEventId">Delete</a>

                        </div>
                    </div>

                    <hr />

              
                </div>

            </tr>
        }
    </tbody>


</table>
